In [7]:
import os
os.getcwd()

'C:\\Users\\saeed\\Customer_Churn_Prediction\\notebooks'

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

# Load CSV file
df = pd.read_csv('churn_data.csv')

# Check first 5 rows
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,InternetService,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,DSL,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,Fiber optic,56.95,1889.50,Yes
2,3668-QPYBK,Male,0,No,No,2,Yes,DSL,53.85,108.15,No
3,7795-CFOCW,Female,0,No,No,45,Yes,Fiber optic,42.30,1840.75,No
4,9237-HQITU,Female,0,Yes,Yes,2,Yes,DSL,70.70,151.65,Yes